* {
       margin: 0;

       padding: 0;
   }


   header,

   footer {

    width: 100%;

    height: 120px;

    background-color: blue;

    color: white;

   }


   h1,

   h2 { 

    text-align: center;

   }


   img {

    display: block;

    height: 50px;

    width:  50px;

    margin-left: auto;

    margin-right: auto;

   }


   ul {

    padding-left: 40px;

    font-size: 20px;

   }
   

   p { 

    text-align: center;

    font-size: 30px;

   }

   .card { 

    width: 80%;

    margin: 40px auto;

    border: 5px solid gray;

    box-shadow: 5px 10px #0587c8;

   }

  
/*
   :root {
    overflow: hidden;
    background-color: lightblue;
    display: flex;
    justify-content: center;
  }
  
  .sun {
    background-color: yellow;
    border-radius: 50%;
    height: 100vh;
    aspect-ratio: 1 / 1;
    animation: 4s linear 0s infinite alternate animating-multiple-properties;
  }
  
  /* it is possible to animate multiple properties in a single animation 
  @keyframes animating-multiple-properties {
    from {
      transform: translateY(110vh);
      background-color: red;
      filter: brightness(75%);
    }
    to {
      transform: translateY(0);
      background-color: orange;
      /* unset properties i.e. 'filter' will revert to default values 
    } 
  }
  <div class="sun"></div> <-- paste into HTML file as tag
  */

  
